$brand-color: #2d3146;

$success-color: #66BF3C;
$error-color: #dc3545;
$warn-color: #ffc107;
$info-color: #0070ba;
$alert-color: #6c757d;
$invalid-color: #bb7373;

$bg-color: $brand-color;
$header-color: #4e5a6e;
$footer-color: #23282c;

$text-color: #fff;
$alt-text-color: #63b5d6;

$icon-color: gray;
$icon-active-color: $alt-text-color;

$active-color: #2a8aa8;
$disabled-color: #808080;
$selected-color: #777;

$border-color: rgba(0, 0, 0, 0.12);