$header-size: 48px;
$footer-size: $header-size;
 
$icon-size: 1.5em;
$header-font-size: 1.2em;
$title-size: 2em;
$text-size: 16px;

$default-font-size: 1em;
$default-padding: 10px;
$default-margin: $default-padding;

$border-size: 2px;
