.tree-view {
  display: flex;
  flex: 1;
  margin: $default-margin;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  .view {
    padding: ($default-padding - 5px);
    flex: 3;
    position: relative;
    .menu {
      position: absolute;
      z-index: 999;
      right: 0;
    }
    .right-panel {
      padding: ($default-padding - 5px);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      &.mouseover {
        cursor: pointer;
      }
      &.empty {
        text-transform: uppercase;
        letter-spacing: 1px;
        // text-shadow: 1px 1px 1px $bg-color;
        font-family:Kondolar-Regular, Georgia, serif;
        font-size: $default-font-size + 0.3em;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.drawer {
  width: 350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .drawer-container {
    padding: ($default-padding - 5px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .drawer-header {
      .title {
        display: flex;
        align-items: center;
        padding: 0 0 $default-padding;
        margin: ($default-margin - 3px) ($default-margin - 5px);
        border-bottom: 1px solid $border-color;
        span {
          flex: 1;
          font-size: $default-font-size + 0.3em;
          text-transform: uppercase;
        }
      }
    }
    .drawer-content {
      margin: ($default-margin - 5px) $default-margin;
      flex: 1;
      overflow-y: auto;
      .delete-container {
        display: flex;
        flex-direction: column;
        .delete-msg {
          font-size: $default-font-size + 0.2em;
          font-weight: 500;
          margin: $default-margin 0 ($default-margin - 5px);
        }
        .delete-icon {
          color: $error-color;
        }
        div {
          margin: ($default-margin - 5px) 0;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        .row {
          display: flex;
          flex-direction: column;
          margin: ($default-margin - 5px) 0;
          label {
            font-size: ($default-font-size - 0.05em);
            font-weight: 500;
            color: $alert-color;
            text-transform: uppercase;
          }
          span {
            &.value {
              font-size: ($default-font-size - 0.15em);
              word-break: break-all;
              &.empty {
                padding-left: $default-padding;
              }
            }
          }
          input[type="text"],
          select {
            background: #fff;
            padding: ($default-padding - 5px);
            border: 1px solid $border-color;
            border-radius: 5px;
          }
          textarea {
            flex: none;
            width: 100% !important;
            min-height: 50px;
            max-height: 100px;
          }
        }
      }
    }
    .drawer-footer {
      margin: ($default-margin + 5px) ($default-margin - 5px);
    }
  }
}
